{% extends "new_base.html" %}

{% load cloudinary %}

{% block content %}


<section id="page-title">
    <div class="container clearfix">
        <h1>Blog</h1>
        <span>Latest News about the conference</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
        </ol>
    </div>
</section>

<section id="content">
    <div class="content-wrap">
    <div class="container clearfix">
    
    <div id="posts" class="post-grid grid-container grid-2 clearfix" data-layout="fitRows">
        {% for post in posts %}
            <div class="entry clearfix">
            <div class="entry-image">
                <a href='{% cloudinary_url post.picture.public_id %}' data-lightbox="image"><img class="image_fade" src='{% cloudinary_url post.picture.public_id %}' alt="Post Image"></a>
            </div>
            <div class="entry-title">
            <h2><a href="{% url 'blog:post_detail' pk=post.id %}">{{ post.title }}</a></h2>
            </div>
            <ul class="entry-meta clearfix">
            <li><i class="icon-calendar3"></i> {{ post.published_date }}</li>
            <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
            <li><a href="#"><i class="icon-camera-retro"></i></a></li>
            </ul>
            <div class="entry-content">
            <p>{{ post.short_summary }}</p>
            <a href="{% url 'blog:post_detail' pk=post.id %}" class="more-link">Read More</a>
            </div>
            </div>
        {% endfor %}
    </div>
  
    <div class="row mb-3">
        <div class="col-12">
            <a href="#" class="btn btn-outline-secondary float-left">&larr; Older</a>
            <a href="#" class="btn btn-outline-dark float-right">Newer &rarr;</a>
        </div>
    </div>


    </div>
    </div>
</section>

{% endblock %}
