{% extends "new_base.html" %}
{% load static %}
{% block title %}Ifemun | Accomodation {% endblock %}
{% block content %}

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="col_two_third bottommargin-lg">
                <div class="fslider" data-arrows="false">
                    <div class="flexslider">
                        <div class="slider-wrap">
                            <div class="slide">
                                <a href="#">
                                    <img src="{% static 'images/conference/accommodation/room1.jpg' %}" alt="Room Image">
                                </a>
                            </div>
                            <div class="slide">
                                <a href="#">
                                    <img src="{% static 'images/conference/accommodation/room2.jpg' %}" alt="Room Image">
                                </a>
                            </div>
                        <div class="slide">
                            <a href="#">
                                <img src="{% static 'images/conference/accommodation/room1.jpg' %}" alt="Room Image">
                            </a>
                        </div>
                        <div class="slide">
                            <a href="#">
                                <img src="{% static 'images/conference/accommodation/room2.jpg' %}" alt="Room Image">
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col_one_third bottommargin-lg col_last">
                <div class="pricing-box">
                            <div class="pricing-title">
                            <h3>Cameron Hotel</h3>
                            </div>
                            <div class="pricing-features">
                            <ul>
                            <li>
                                <i class="icon-star3"></i> <strong>Classic Level 1:</strong><br>
                                ₦2500 per night by 4 days<br> 
                                <i class="icon-calendar3"></i> Wed - Sat, 20 - 23 June<br>
                                N10,000<br>
                                {Shared room}
                            </li>
                            <div class="line nomargin"></div>
                            <li>
                                <i class="icon-star3"><i class="icon-star3"></i></i> <strong>Classic Level 2:</strong><br>
                                N3500 per night by 4 days<br> 
                                <i class="icon-calendar3"></i> Wed - Sat, 20 - 23 June<br>
                                N12,000<br>
                                {Shared room}
                            </li>
                            <div class="line nomargin"></div>
                            <li>
                                <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i> <strong>Deluxe:</strong><br>
                                N6000 per night and above<br> 
                                <i class="icon-calendar3"></i> Wed - Sat, 20 - 23 June<br>
                                {None shared room}
                            </li>                            
                            </ul>
                            </div>
                            <div class="pricing-action">
                            <a href="http://cameronhotels.net" class="btn btn-danger btn-block btn-lg">Book</a>
                            </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>

{% endblock %}