{% extends "new_base.html" %}
{% load static %}
{% block content %}
<section class="ImageBackground ImageBackground--overlay js-FullHeight js-Parallax" data-overlay="5">
        <div class="ImageBackground__holder">
            <img src="assets/imgs/banner/ban4.jpg" alt=""/>
        </div>
        <div class="container u-vCenter">
            <div class="row text-center text-left- text-white">
                <div class="col-md-12">
                    <div id="counting-date" class="count-transparent h3 u-MarginBottom0 u-xs-MarginTop30 u-MarginTop150"></div>

                    <!--<h1 class="u-FontSize75 u-xs-FontSize40 u-Weight700 u-MarginTop0 u-MarginBottom0">International</h1>-->
                    <h2 class="u-FontSize75 u-xs-FontSize40 u-Weight700 u-MarginTop0  u-MarginBottom0">International Conference 2017</h2>
                    <h3 class="text-uppercase  text-white u-Weight700 u-MarginTop0 u-MarginBottom50">15 - 19 July, 2017, San Francisco, CA </h3>
                    <a class="btn btn-gradient- btn--alien- btn-primary text-uppercase u-MarginBottom10 u-LetterSpacing2" href="#">Get Tickets</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}