{% extends "new_base.html" %}
{% load static %}
{% block title %}Ifemun | Registration{% endblock %}
{% block content %}

<section id="slider" class=="slider-element slider-parallax full-screen force-full-screen" >

        <!-- <div class="section dark nomargin noborder ohidden" style="padding: 120px 0;"> -->
        
        <div class="slider-parallax-inner">
        
            <div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden" style="background-image: url('{% static "images/oau2.jpg" %}'); background-size: cover; background-position: center center;">

                <div class="container center">
                    <div class="vertical-middle">
                        
                    </div>
                </div>

        </div>
        </div>

        </div>

</section>

<section id="page-title" class="page-title-mini">

    <div class="container clearfix">
        <h1>Registration</h1>
        <br/>
        <p>
            <strong>NOTE:</strong> On submission of your application, delegate will receive an email from the IFEMUN Secretariat in which your Total Fee would be revealed. Amount paid as delegate fee DOES NOT include cost of transportation and accommodation if required.
                You’re required to indicate whether or not you will need an accommodation and the cost will be communicated to your in your letter of acceptance. Also be reminded that, you will be required to pay for your cost of transportation while attending the conference.
        </P>
        <p>
            <i>Please do not hesitate to contact us if you have any questions at the following address: delegates@ifemun.org</i>
       
        </p>
        <span>Register for the conference</span>
    </div>

</section>

    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">

                    <div class="tab-container">

                        <div class="tab-content clearfix" id="tab-register">
                            <div class="card nobottommargin">
                                <div class="card-body" style="padding: 40px;">
                                    <h3>Register for Conference</h3>
                    

                                    <form id="register-form" name="register-form" class="nobottommargin" method="post">
                                            {% csrf_token %}
                                            {% include 'base_form.html' with form=form %}
                                            <P>
                                                    <strong>DECLARATION:</strong> By submitting this form, i declare that the information provided is correct and express my interest to be considered as a Delegate for IFEMUN 2018. I also pledge  to abide by the terms, conditions and other rules governing the conference when granted the opportunity. After the submission of form, kindly wait for response from the IFEMUN Secretariat by email. The IFEMUN Secretariat reserves the right to accept or reject this application after review.
                                            </P>
                                            <div class="col_full nobottommargin">
                                                    <button type="submit" class="button button-3d button-black nomargin" id="register-form-submit" name="register-form-submit" value="register">Register Now</button>
                                            </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section><!-- #content end -->
{% endblock %}
