{% extends "new_base.html" %}
{% load static %}
{% block title %}Ifemun | Conference{% endblock %}
{% block content %}


<section id="slider" class=="slider-element slider-parallax full-screen force-full-screen" >

        <!-- <div class="section dark nomargin noborder ohidden" style="padding: 120px 0;"> -->
        
        <div class="slider-parallax-inner">
        
            <div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden" style="background-image: url('{% static "images/conference.jpg" %}'); background-size: cover; background-position: center center;">

                <div class="container center">
                    <div class="vertical-middle">


                        <div class="emphasis-title">
                                    <div class="">
                                        <h2>
                                            <p>Ife Model United Nations, 2018</p>
                                        </h2>
                                        <h3>
                                            <p>June 20th - 23rd, 2018</p>
                                        </h3>
                                            <a href="{% url 'conference:registration' %}" class="button button-border button-light button-circle t400" >Register</a>

                                    </div>

                        </div>

                        
                    </div>
                </div>

        </div>
        </div>

        </div>

</section>

   <!--Event Schedule start-->
   <!-- <section class="colorfull-schedule u-PaddingTop100 u-xs-PaddingTop30">

        <div class="row text-center" id="schedule">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="u-MarginTop5 u-MarginBottom10 u-Weight700">Event Schedule</h1>
                <div class="Split Split--height2"></div>
        </div>
        <section class="u-PaddingTop90">
            <div class="container center">
                <div class="row u-MarginTop20">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="Timeline">
                            <div class="Timeline__item">
                                <h5 class="u-MarginTop10">Nov 28 <span class="u-Padding10">|</span> 29</h5>
                                <h3 class="u-MarginTop0 u-MarginBottom10">Tech Outreach</h3>
                                <p>Outreach to Secondary Schools in Ife</p>
                            </div>
                            <div class="Timeline__item">
                                <h5 class="u-MarginTop10">Nov 30</h5>
                                <h3 class="u-MarginTop0 u-MarginBottom10">Trip</h3>
                                <p>Trip to Tech Company in Ibadan</p>
                            </div>
                            <div class="Timeline__item">
                                <h5 class="u-MarginTop10">Dec 1</h5>
                                <h3 class="u-MarginTop0 u-MarginBottom10">Girls Hangout</h3>
                                <p>Jubilee Gardens, OAU</p>
                            </div>
                            <div class="Timeline__item">
                                <h5 class="u-MarginTop10">Dec 2</h5>
                                <h3 class="u-MarginTop0 u-MarginBottom10">Conference</h3>
                                <p>Closing the Gender Gap, Why Technology loves Girls. Conference Center OAU, 10 am</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section> -->
<!--Event Schedule end-->

<style>
        div.background {
            background: url(klematis.jpg) repeat;
            border: 2px solid black;
        }
        
        div.transbox {
            margin: 30px;
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.6;
            filter: alpha(opacity=60); /* For IE8 and earlier */
        }
        
        div.transbox p {
            margin: 5%;
            font-weight: bold;
            color: #000000;
            z-index: 2;
        }
</style>

{% endblock %}


