{% extends "new_base.html" %}
{% load static %}
{% block title %}Ifemun | Special Events{% endblock %}
{% block content %}

<section id="slider" class=="slider-element slider-parallax full-screen force-full-screen" >

        <!-- <div class="section dark nomargin noborder ohidden" style="padding: 120px 0;"> -->
        
        <div class="slider-parallax-inner">
        
            <div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden" style="background-image: url('{% static "images/oau.jpg" %}'); background-size: cover; background-position: center center;">

                <div class="container center">
                    <div class="vertical-middle">
                        
                    </div>
                </div>

        </div>
        </div>

        </div>

</section>

<section id="page-title" class="page-title-mini">

    <div class="container clearfix">
        <h1>Special Event</h1>
        <br/>
        <p>IFEMUN features a series of special events that will enrich delegate experience, offer delegates the opportunities for networking, engaging with subject matter experts, developing soft skills, get exclusive information on partners programme, discounts and meeting other youths from around the world!</p>
    </div>
    <div id="getting-started"></div>
    <div id="countdown-ex3" class="countdown countdown-large"></div>

</section>


<div class="row  common-height">
        <div class="col-lg-6 dark col-padding ohidden" style="background-color: rgb(52, 73, 94);">
            <div>
                <h3 class="uppercase" style="font-weight: 600;">Visits Programme</h3>
                <p style="line-height: 1.8;">Ile Ife the growing hub of tourism offering its rich culture and natural heritage. There are too many mysteries in Ife land to be marvelled. In Ile- Ife alone, the assets are many and multifarious. Ile- Ife is the cradle of mankind and is the source.</p>
                <p style="line-height: 1.8;"></p>It is not only historical, it is also ancient. That alone is immeasurable and incomparable asset. The potential for Ile- Ife as a tourist destination for both domestic and international visitors is immense.</p>
                <p style="line-height: 1.8;">Ife has the Tower of Babel, harbours the Noah’s Ark, the artefacts, historical and spiritual centres, the Ifa Temple, the first stone cobbled road, the Opa Oranmiyan and all the ancients groves of creation and the House of all the crowns of all Yoruba Obas.</p>
                <p style="line-height: 1.8;"></p>It is a territory that is occupied by the scion of Oduduwa. Ile – Ife wants to share its pride, history, and cultural heritage with everybody. As we maintain our traditions and culture, we will showcase it for all the visitors. Giving all a wonderful insight into the local ways of life.</p>
                <!-- <a href="#" class="button button-border button-light button-rounded button-reveal tright uppercase nomargin"><i class="icon-angle-right"></i><span>Read More</span></a> -->
                <i class="icon-bulb bgicon"></i>
            </div>
        </div>
        <div class="col-lg-6 dark col-padding ohidden" style="background-color: rgb(26, 188, 156);">
            <div>
                <h3 class="uppercase" style="font-weight: 600;">Diplomatic Briefing Panel: Careers in International Affairs</h3>
                <p style="line-height: 1.8;">Recognizing the key role of youths in diplomacy, the briefing presents a strategic opportunity for interaction and development of skills for future senior diplomats and leaders from across the globe. </p>
                <p style="line-height: 1.8;">It aims to build a generation that is confident in voicing their contribution on development matters and to broaden their connection to influential stakeholders</p>
                <p style="line-height: 1.8;">IFEMUN will convene high-level diplomats to share what it takes to have a career in international affairs and the path they followed</p>
                <strong>Welcome</strong>
                <p>Chairman: <em>To be disclosed</em></p>
                <strong>Panelists</strong>
                <p><em>To be disclosed soon...</em></p>
                <strong>Diplomatic Reception:</strong>
                <p>Before the panel, we will be hosting a networking reception with the speakers along with some other special guests for some discussion, coffee, and treats.</p>
                
                <!-- <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Read More</a> -->
                <i class="icon-cog bgicon"></i>
            </div>
        </div>
    </div>

<div class="section nomargin">
    <div class="container">
            <div class="title-block">
                    <h2>Poli<span>cy</span> Work<span>shops</span></h2>
            </div>
            <p>
                    To hold right after lunch on Thursday, delegates will return to their committee rooms to spend an hour with a subject matter expert in the topic of discussion.
                    The expert could be a professor or a professional, and will provide delegates with additional context on their committee topics and provide guidance and feedback on resolutions.
            </p>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Policy Experts</th>
                        <th>Committee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Adeomi Abayomi</td>
                        <td>Disarmament and International Security Committee</td>
                    </tr>
                    <tr>
                        <td>TBD</td>
                        <td>World Health Organisation</td>
                    </tr>
                    <tr>
                        <td>TBD</td>
                        <td>United Nations Security Council</td>
                    </tr>
                    <tr>
                        <td>TBD</td>
                        <td>United Nations Educational, Scientific and Cultural Organisation</td>
                    </tr>
                    <tr>
                        <td>TBD</td>
                        <td>United Nations Commission for Human Rights</td>
                    </tr>
                </tbody>
            </table>

            <div class="line"></div>

            <div class="sub-container topmargin">
                    <div class="title-block">
                        <h3>Diplomatic Dinner</h3>
                    </div>
                    <p>Saturday, June 24, 2018</p>
                    <p><strong>Location:</strong> To be disclosed</p>
                    <div class="line"></div>
                    <div class="title-block">
                        <h3>Informal Social: Stage Play</h3>
                    </div>
                    <p>Thursday, June 22, 2018</p>
                    <p><strong>Location:</strong> To be disclosed</p>
            </div>
    </div>

</div>

{% endblock %}