{% load static %}

<!-- Footer
============================================= -->
<div class="container clearfix">
    <div class="heading-block center">
        <h4>Our Sponsors/Partners</h4>
    </div>

    <ul class="clients-grid grid-6 nobottommargin clearfix">
        <li><a href="http://www.oauife.edu.ng"><img src="{% static 'images/sponsors/oau_logo.jpg' %}" alt="OAU LOGO"></a></li>
        <li><a href="http://lagos.sites.unicnetwork.org"><img src="{% static 'images/sponsors/unic2.jpg' %}" alt="UNIC logo"></a></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

		<footer id="footer" class="dark noborder">

			

                <div id="copyrights">
                        <div class="container clearfix">

                                <div class="col_one_third">
                                    Copyrights &copy; Ifemun | 2018.<br>
                                    Obafemi Awolowo University<br/>
                                    Ile-Ife, Nigeria
                                </div>
            
                                <div class="col_two_third col_last tright">
                                    <div class="fright clearfix">
                                        
                                        <a href="https://www.facebook.com/ifemun" class="social-icon si-large si-borderless si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
            
                                        <a href="https://www.twitter.com/ifemodelun" class="social-icon si-large si-borderless si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
            
                                        <a href="https://www.instagram.com/ifemodelun" class="social-icon si-large si-borderless si-instagram">
                                                <i class="icon-instagram"></i>
                                                <i class="icon-instagram"></i>
                                        </a>
            
            
                                    </div>
            
                                    <div class="clear"></div>
            
                                    <i class="icon-envelope2"></i> info@ifemun.org <span class="middot">&middot;</span> <i class="icon-headphones"></i> +234-8129-702-062<span class="middot">&middot;</span><i class="icon-skype2"></i> IfemunOnSkype
                                </div>
            
                </div>
    
            </footer><!-- #footer end -->
    
        </div><!-- #wrapper end -->
    
        <!-- Go To Top
        ============================================= -->
        <div id="gotoTop" class="icon-angle-up"></div>
    
        <!-- External JavaScripts
        ============================================= -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
    
        <!-- Google Map JavaScripts
        ============================================= -->
    
        <!-- Footer Scripts
        ============================================= -->
        <script src="{% static 'js/functions.js' %}"></script>
    
    
    </body>
</html>