{% load static %}

<!-- Footer
		============================================= -->
		<footer id="footer" class="dark noborder nomargin">

			

                <div id="copyrights">
                    <div class="container center clearfix">
                            &copy; 2018 Ifemun | All Rights Reserved
                    </div>
                </div>
    
            </footer><!-- #footer end -->
    
        </div><!-- #wrapper end -->
    
        <!-- Go To Top
        ============================================= -->
        <div id="gotoTop" class="icon-angle-up"></div>
    
        <!-- External JavaScripts
        ============================================= -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
    
        <!-- Google Map JavaScripts
        ============================================= -->
    
        <!-- Footer Scripts
        ============================================= -->
        <script src="{% static 'js/functions.js' %}"></script>
    
    
    </body>
</html>