{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">


<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Ifemun" />

	<!-- Stylesheets
	============================================= -->

	<link rel="stylesheet" href="{% static 'fonts/lato-font.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/v5/style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/v5/dark.css' %}" type="text/css" />

	<!-- One Page Module Specific Stylesheet -->
	<link rel="stylesheet" href="{% static 'css/onepage.css' %}" type="text/css" />
	<!-- / -->
	<link rel="stylesheet" href="{% static 'css/v5/font-icons.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/v5/et-line.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/v5/animate.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/v5/magnific-popup.css' %}" type="text/css" />
	
	<link rel="stylesheet" href="{% static 'css/v5/fonts.css' %}" type="text/css" />

	<link rel="stylesheet" href="{% static 'css/v5/responsive.css' %}" type="text/css" />

	<!-- clashes with dedault paragraph styling, used for timeline in schedule -->

	<link rel="stylesheet" href="http://res.cloudinary.com/phvash/raw/upload/v1526495241/ifemun/css/mine.css"/>
	
	<meta name="viewport" content="width=device-width, initial-scale=1" />


	<!-- Document Title
	============================================= -->

</head>

<body class="stretched no-transition no-superfish gototop-active">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
