{% load static %}

<header id="header" class="full-header static-sticky" data-sticky-offset="0">

        <div id="header-wrap">

            <div class="container clearfix">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a href="{% url 'home' %}" class="standard-logo" ><img src="{% static 'images/logo.png' %}" alt="Ifemun Logo"></a>
                    <a href="{% url 'home' %}" class="retina-logo" ><img src="{% static 'images/logo.png' %}" alt="Ifemun Logo"></a>
                </div>
                <!-- #logo end -->
<!-- 
                <div id="logo">
                        <a href="{% url 'home' %}" class="retina-logo" ><img src="{% static 'images/logo.png' %}" alt="Ifemun Logo"></a>
                </div> -->

                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu">
                    <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
                        <li><a href="{% url 'home' %}"><div>Home</div></a></li>
                        <li><a href="{% url 'about' %}"><div>About</div></a></li>
                        <li><a><div>Registration</div></a>
                            <ul>
                                    <li class="sub-menu"><a href="{% url 'registration:reg-form' %}"><div>Register</div></a></li>
                                    <li class="sub-menu"><a href="{% url 'registration:accomodation' %}"><div>Accomodation</div></a></li>
                             </ul>
                        </li>
                        <li>
                            <a><div>Conference</div></a>
                            <ul>
                                <li class="sub-menu"><a href="{% url 'conference:schedule' %}"><div>Schedule</div></a></li>
                                <li class="sub-menu"><a href="#"><div>Speakers</div></a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'committees:committees_home' %}"><div>Committees</div></a></li>
                        <li><a href="{% url 'blog:post_list' %}"><div>Blog</div></a></li>
                    </ul>

                    <!-- <div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="icon-reorder"></i></a></div> -->

                </nav><!-- #primary-menu end -->

            </div>

        </div>

    </header><!-- #header end -->