{% load static %}


<!-- Start Partners -->
<!-- <div class="nobottommargin notopmargin" style="background-color: #F9F9F9; position: relative; overflow: hidden;">
        <div class="heading left nobottommargin notopmargin">
                <h4>Meet Our <span>Partners</span></h4>
        </div>
</div>
<div id="oc-clients" class="section nobottommargin notopmargin owl-carousel owl-carousel-full image-carousel footer-stick carousel-widget" data-margin="80" data-loop="true" data-nav="false" data-autoplay="5000" data-pagi="false" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="4" data-items-xl="4">
        <div class="oc-item"><a href="#"><img src="{% static 'images/sponsors/unic2.jpg' %}" alt="Clients"></a></div>
        <div class="oc-item"><a href="#"><img src="{% static 'images/sponsors/oau_logo.jpg' %}" alt="Clients"></a></div>
        <div class="oc-item"><a href="#"><img src="{% static 'images/sponsors/MUN logo copy.png' %}" alt="Clients"></a></div>
        <div class="oc-item"><a href="#"><img src="{% static 'images/sponsors/MUN Planet logo.png' %}" alt="Clients"></a></div>
        </div> -->

<!-- End partners -->

<!-- Footer
    ============================================= -->

		<footer id="dark-footer" class="dark noborder">

			

                <div id="copyrights">
                        <div class="container clearfix">

                                <div class="col_one_third">
                                    <h4 style="color: #444">Our Partners</h4>
                                    <ul class="clients-grid grid-4 nobottommargin clearfix">
                                            <li><a href="http://www.oauife.edu.ng"><img 
src="https://res.cloudinary.com/phvash/image/upload/v1526452594/ifemun/images/people/staff/oau_logo.png" alt="OAU LOGO"></a></li>
                                            <li><a href="http://lagos.sites.unicnetwork.org"><img 
src="https://res.cloudinary.com/phvash/image/upload/v1526452592/ifemun/images/people/staff/unic2.jpg" alt="UNIC logo"></a></li>
                                            <li><a href="#"><img 
src="https://res.cloudinary.com/phvash/image/upload/v1526452593/ifemun/images/people/staff/MUN_logo_copy.png" alt="MUN logo"></a></li>
                                            <li><a href="http://munplanet.com"><img 
src="https://res.cloudinary.com/phvash/image/upload/v1526452592/ifemun/images/people/staff/mun_planet.png" alt="Mun Planet"></a></li>
                                    </ul>                       

                                </div>
            
                                <div class="col_two_third col_last tright">

                                    <div class="fright clearfix">
                                            Ifemun |  Copyrights &copy; 2018.<br>
                                            Obafemi Awolowo University<br/>
                                            Ile-Ife, Nigeria<br/>
                                        
                                        <a href="https://www.facebook.com/ifemun" class="social-icon si-large si-borderless si-facebook" style="
                                        color: #555!important;">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
            
                                        <a href="https://www.twitter.com/ifemodelun" class="social-icon si-large si-borderless si-twitter" style="
                                        color: #555!important;">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
            
                                        <a href="https://www.instagram.com/ifemodelun" class="social-icon si-large si-borderless si-instagram" style="
                                        color: #555!important;"> 
                                                <i class="icon-instagram"></i>
                                                <i class="icon-instagram"></i>
                                        </a>
            
            
                                    </div>
            
                                    <div class="clear"></div>
            
                                    <i class="icon-envelope2"></i> info@ifemun.org <span class="middot">&middot;</span> <i class="icon-headphones"></i> +234-8129-702-062<span class="middot">&middot;</span><i class="icon-skype2"></i> IfemunOnSkype
                                </div>
            
                </div>
    
            </footer><!-- #footer end -->
    
        </div><!-- #wrapper end -->
    
        <!-- Go To Top
        ============================================= -->
        <div id="gotoTop" class="icon-angle-up"></div>
    
        <!-- External JavaScripts
        ============================================= -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
    
        <!-- Google Map JavaScripts
        ============================================= -->
    
        <!-- Footer Scripts
        ============================================= -->
        <script src="{% static 'js/functions.js' %}"></script>
    
    
    </body>
</html>
