{% load static %}

<header id="header" class="full-header static-sticky" data-sticky-offset="0">

        <div id="header-wrap">

            <div class="container clearfix">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a href="{% url 'home' %}" class="standard-logo" ><img src="{% static 'images/logo.png' %}" alt="Ifemun Logo"></a>
                    <a href="{% url 'home' %}" class="retina-logo" ><img src="{% static 'images/logo.png' %}" alt="Ifemun Logo"></a>
                </div>
                <!-- #logo end -->
<!-- 
                <div id="logo">
                        <a href="{% url 'home' %}" class="retina-logo" ><img src="{% static 'images/logo.png' %}" alt="Ifemun Logo"></a>
                </div> -->

                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu">
                    <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
                        <li><a href="{% url 'home' %}"><div>Home</div></a></li>
                        <li><a><div>About</div></a>
                            <ul>
                                    <li><a href="{% url 'staff' %}"><div>Staff</div></a></li>
                                    <li><a href="{% url 'about' %}"><div>Why IFEMUN</div></a></li>
                                </ul>
                        </li>
                        <li><a><div>Registration</div></a>
                            <ul>
                                <li><a href="{% url 'registration:reg-form' %}"><div>Register</div></a></li>
                                <li><a href="{% url 'payment:payment_page' %}"><div>Pay</div></a></li>
                            </ul>
                            
                        </li>
                        <li>
                            <a><div>Conference</div></a>
                            <ul>
                                <li><a href="{% url 'conference:special-event' %}"><div>Special Events</div></a></li>
                                <li><a href="{% url 'conference:schedule' %}"><div>Schedule</div></a></li>
                                <li><a href="{% url 'conference:speakers' %}"><div>Speakers</div></a></li>
                                <li><a href="{% url 'conference:accomodation' %}"><div>Accomodation</div></a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'committees:committees_home' %}"><div>Committees</div></a></li>
                        <li><a href="{% url 'blog:post_list' %}"><div>Blog</div></a></li>
                        <!-- <li><a href="{% url 'blog:post_list' %}"><div>Partners</div></a></li> -->
                    </ul>

                    <!-- <div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="icon-reorder"></i></a></div> -->

                </nav><!-- #primary-menu end -->

            </div>

        </div>

    </header><!-- #header end -->