{% extends "new_base.html" %}
{% load static %}
{% block title %}Ifemun | About Us{% endblock %}
{% block content %}


<section id="page-title" class="page-title-mini">

        <div class="container clearfix">
            <h1>About Us</h1>
            <span>Everything you need to know about us</span>
        </div>

</section>

<div class="content-wrap">

        <div class="container clearfix">

            <div class="nobottommargin">

                <div class="fancy-title title-bottom-border">
                    <h3>Why Ifemun?</h3>
                </div>
                    <p>If you desire an amazing experience from a maiden MUN conference, then, IfeMUN is the right choice for you. </p>
                    <p>Our team of volunteers and staff are highly dedicated and devoted individuals whose sole aim is giving you a highly innovative, realistic, diverse and excellent conference like never seen before.</p>
                    <p>The profile of our keynote speaker coupled with the relevance of our theme: Achieving Human Development: Striving for Peace and Decent Life in a Sustainable World to the events across the globe if anything, demonstrate that IFEMUN 2018 is a conference you cannot afford to miss.</p>
                    <p>We look beyond a conference IFEMUN just all sessions upon sessions, but our outlined schedule for socials and special events is more than ready to bring to fore the fact that M-U-N is F-U-N. So, what are you waiting for? Apply Now</p>
            </div>
        </div>
</div>

<div class="">
    <div class="container clearfix">
            <div class="heading-block center nobottomborder">
                    <h2>Our Values</h2>
            </div>

            <div class="col_one_fourth">

                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                    <h4>Inno<span>vation</span>.</h4>
                </div>

                <p>The 21st century is, no doubts, filled with innovation. As such, policies and strategies of states must be aligned with this trend</p>
                <p>IFEMUN seeks to ensure that highly innovative resolutions are arrived at in contribution to achieving human development.</p>

            </div>

            <div class="col_one_fourth">

                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                    <h4>Diver<span>sity</span>.</h4>
                </div>

                <p>We seek to bring humans of diverse cultures, traditions and beliefs together with the primary aim of achieving human development because though ... </p>
                <p> “ We may all have different religion, different language, different coloured skin, but we all belong to one human race ”  -  Kofi Annan.</p>
            
            </div>

            <div class="col_one_fourth">

                    <div class="heading-block fancy-title nobottomborder title-bottom-border">
                        <h4>Real<span>ism</span>.</h4>
                    </div>
        
                    <p>As Ife Model United Nations, we want to ensure we provide a very realistic conference that will serve as a perfect epitome, if not the best, for an MUN conference. </p>
                    <p>Hence, be ready to move beyond the abstract or mere theory of diplomacy to a very real diplomacy in practice.</p>
        
            </div>

            <div class="col_one_fourth col_last">

                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                    <h4>Excel<span>lence</span>.</h4>
                </div>

                <p>Our venue, Obafemi Awolowo University is known for high level of excellence incomparable with any of its peer in Africa</p>
                <p> This is more than a leverage IFEMUN will taking up as an advantage to give conference filled with excellence in all ramifications.</p>
    
            </div>

    </div>
</div>


<div class="">

        <div class="container clearfix">
            
            <div class="nobottommargin">

                    <div class="fancy-title title-bottom-border">
                        <h3>Brief History of Ile Ife</h3>
                    </div>
                        <p> The traces of human occupation had been recorded as far back 500 BC, Oduduwa is regarded as the progenitor of the Yoruba race. ‘Ile-Ife’ literally means ‘land of expansion’ according to Yoruba mythology, to be the origin and source of humanity.  </p>
                        <p> Ile-Ife is located in present Osun State of Nigeria. Ife, as popularly called is one of the largest African ethnic groups south of the Sahara Desert domiciled in Nigeria and with tentacles in other West Africa countries as well as the Caribbean city. Hence, it has been and still regarded as the spiritual capital of the Yorubas.  </p>
                        <p> Little wonder, the position of Ooni of Ife- the city’s monarch is a highly revered monarch in Africa. Ife is highly rich in culture and traditions and house lot of significant sites like the prestigious Obafemi Awolowo University- ‘Africa’s most beautiful campus’, the ‘Ile Oduduwa’- the Ooni’s palace; ‘Opa Oranmiyan’- the place Oranmiyan; a great warrior and prince, Moremi Ajasoro and the National History Museum, to name a few</p>    
                        <p> This ancient city is home to the world famous Ife Art which though reached its peak around 1200-1400 AD, had been in existence long before then. The resulting bronze, stone and terracotta sculptures are found in museums in Nigeria, Europe, and North America and the art was further brought to international limelight by the British Museum through an exhibition titled ‘Kingdom of Ife: Sculptures of West Africa in March 4th-July 4th 2010. Ile-Ife houses about a million people and is a very peaceful, serene and natural city with highly hospitable habitants. It is about 218 kilometres northeast of Lagos.</p>
            </div>
        </div>
</div>

{% endblock %}