{% extends "new_base.html" %}
{% load static %}
{% block content %}

<div id="section-about" class="center page-section">

        <div class="container clearfix">

            <h2 class="divcenter bottommargin font-body" style="max-width: 700px; font-size: 40px;">About Ifemun</h2>

            <p class="lead divcenter bottommargin" style="max-width: 800px;">Ford Foundation reduce child mortality fight against oppression refugee disruption pursue these aspirations effect. Free-speech Nelson Mandela change liberal; challenges of our times sustainability institutions.</p>

            <div class="clear"></div>
</div>

{% endblock %}