{% extends "new_base.html" %}
{% load static %}
{% block title %}Ifemun | About Us{% endblock %}
{% block content %}

<section id="slider" class=="slider-element slider-parallax full-screen force-full-screen" >

        <!-- <div class="section dark nomargin noborder ohidden" style="padding: 120px 0;"> -->
        
        <div class="slider-parallax-inner">
        
            <div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden" style="background-image: url('{% static "images/oau.jpg" %}'); background-size: cover; background-position: center center;">

                <div class="container center">
                    <div class="vertical-middle">
                        
                    </div>
                </div>

        </div>
        </div>

        </div>

</section>


<section id="page-title" class="page-title-mini">

        <div class="container clearfix">
            <h1>About Us</h1>
            <span>Everything you need to know about us</span>
        </div>

</section>

<div class="content-wrap">

        <div class="container clearfix">

            <div class="nobottommargin">

                <div class="fancy-title title-bottom-border">
                    <h3>Why Ifemun?</h3>
                </div>
                    <p>If you desire an amazing experience from a maiden MUN conference, then, Ife<strong>MUN</strong> is the right choice for you. </p>
                    <p>Our team of volunteers and staff are highly dedicated and devoted individuals whose sole aim is giving you a highly innovative, realistic, diverse and excellent conference like never seen before.</p>
                    <p>The profile of our keynote speaker coupled with the relevance of our theme: <em><u><q>Achieving Human Development: Striving for Peace and Decent Life in a Sustainable World</q></u></em>, to the events across the globe if anything, demonstrate that IFEMUN 2018 is a conference you cannot afford to miss.</p>
                    <p>Driven by the goal to consistently offer delegate conference per excellence, Ife Model United Nations Secretariat boasts of a conference established on <em>INNOVATION, DIVERSITY, REALISM & QUALITY</em>.</p>
                    <p>At IFEMUN, delegates can be guaranteed of not just qualitative committee sessions, but a slate of unique socials coupled with special diplomatic workshops to prepare delegates for the real world of diplomacy. More than just a simulation, IFEMUN provides delegates such experience into actual United Nations. Delegates are drawn from different parts of the world, in a mix of language, colour, race thereby giving the conference a colour of diversity.</p>
                    <p>The Secretariat of IFEMUN is composed of cerebral minds are professionally trained to deliver a world class model United Nations conference. As part of our mission, we aim to constantly introduce novel ideas and innovations to provide delegates a quality conference experience.</p>
                    <p>We look beyond a conference IFEMUN just all sessions upon sessions, but our outlined schedule for socials and special events is more than ready to bring to fore the fact that <strong>M-U-N</strong> is <strong>F-U-N</strong>. So, what are you waiting for? <a href="{% url 'registration:reg-form' %}" style="color: #1ABC9C">Apply Now</a></p>
                <div class="bottommargin"></div>

                <div class="divider"><i class="icon-circle"></i></div>

                <div class="fancy-title title-bottom-border">
                        <h3>WHY OBAFEMI AWOLOWO UNIVERSITY?</h3>
                </div>
                    <p>Proudly called “Great IFE” by both students and alumni of the university, Obafemi Awolowo University formerly named University of Ife is the leading university in Nigeria among the “Ivy League” universities. </p>
                    <p>Its greatness indeed is not just echoed by its world class standing by its community of cerebral minds in different disciplines. The university is popularly envied as Africa’s most beautiful campus owing to its gigantic buildings and architectural masterpiece, popular among such buildings is the amphitheatre, spider. It serves as not just a centre for learning and research for internationals but also a tourist attraction.</p>
                    <p>The aesthetics of the university is better appreciated when you have an aerial view of the campus on one of its high mountains in which its locked in. A weld fact which makes the campus an interesting place is that it serves as the second largest bat colony in West Africa.</p>
                    <p>The greatness and popularity of the university is far reaching within and beyond the coast of Nigeria. You are welcome to Obafemi Awolowo University, Ile Ife.</p>
            </div>
        </div>
</div>


<div class="">

        <div class="container clearfix">
            
            <div class="nobottommargin">

                    <div class="fancy-title title-bottom-border">
                        <h3>Brief History of Ile Ife</h3>
                    </div>
                    <img src="{% static 'images/ooni palace.jpg' %}" alt="Onni palace" width="400px" class="pix"/>
                        <p> The traces of human occupation had been recorded as far back 500 BC, Oduduwa is regarded as the progenitor of the Yoruba race. ‘Ile-Ife’ literally means ‘land of expansion’ according to Yoruba mythology, to be the origin and source of humanity.  </p>
                        <p> Ile-Ife is located in present Osun State of Nigeria. Ife, as popularly called is one of the largest African ethnic groups south of the Sahara Desert domiciled in Nigeria and with tentacles in other West Africa countries as well as the Caribbean city. Hence, it has been and still regarded as the spiritual capital of the Yorubas.  </p>
                        <p> Little wonder, the position of Ooni of Ife- the city’s monarch is a highly revered monarch in Africa. Ife is highly rich in culture and traditions and house lot of significant sites like the prestigious Obafemi Awolowo University- ‘Africa’s most beautiful campus’, the ‘Ile Oduduwa’- the Ooni’s palace; ‘Opa Oranmiyan’- the place Oranmiyan; a great warrior and prince, Moremi Ajasoro and the National History Museum, to name a few</p>    
                        <p> This ancient city is home to the world famous Ife Art which though reached its peak around 1200-1400 AD, had been in existence long before then. The resulting bronze, stone and terracotta sculptures are found in museums in Nigeria, Europe, and North America and the art was further brought to international limelight by the British Museum through an exhibition titled ‘Kingdom of Ife: Sculptures of West Africa in March 4th-July 4th 2010.</p>
                        <p> Ile-Ife houses about a million people and is a very peaceful, serene and natural city with highly hospitable habitants. It is about 218 kilometres northeast of Lagos.</p>
            </div>
        </div>
</div>

{% endblock %}