<!-- Slider
    ============================================= -->
    <section id="slider" class=="slider-element slider-parallax full-screen force-full-screen" >

            <!-- <!-- <div class="section dark nomargin noborder ohidden" style="padding: 120px 0;"> -->
            
            <div class="slider-parallax-inner">
            
                <div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden" style="background-image: url('{% static "images/bg5.jpg" %}'); background-size: cover; background-position: center center;">

				

                    <div class="container center">
                        <div class="vertical-middle">

                            <div class="emphasis-title">
                                <span class="before-heading opm-medium t300 uppercase font-primary">We are</span>
                                <h1>
                                    <span class="text-rotater nocolor" data-separator="|" data-rotate="fadeInRight" data-speed="800">
                                        <span class="t-rotate t700 font-body opm-medium-word">IFE|Model|United|Nations|2018.</span>
                                    </span>
                                </h1>
                            </div>

                            <a href="{% url 'conference:registration' %}" class="button button-border button-light button-circle t400">Register</a>

                        </div>
                    </div>

            </div>
            </div>

            </div>

    </section> -->
<!-- #slider end -->


<div class="container clearfix">
        <div class="heading-block center">
            <h4>Our Sponsors/Partners</h4>
        </div>
    
        <ul class="clients-grid grid-6 nobottommargin clearfix">
            <li><a href="http://www.oauife.edu.ng"><img src="{% static 'images/sponsors/oau_logo.jpg' %}" alt="OAU LOGO"></a></li>
            <li><a href="http://lagos.sites.unicnetwork.org"><img src="{% static 'images/sponsors/unic2.jpg' %}" alt="UNIC logo"></a></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>