{% extends "new_base.html" %}

{% load static %}

{% block content %}

<!-- Slider
    ============================================= -->
    <section id="slider" class=="slider-element slider-parallax full-screen force-full-screen" >

            <!-- <div class="section dark nomargin noborder ohidden" style="padding: 120px 0;"> -->
            
            <div class="slider-parallax-inner">
            
                <div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden" style="background-image: url('{% static "images/bg5.jpg" %}'); background-size: cover; background-position: center center;">

				

                    <div class="container center">
                        <div class="vertical-middle">

                            <div class="emphasis-title">
                                <span class="before-heading opm-medium t300 uppercase font-primary">We are</span>
                                <h1>
                                    <span class="text-rotater nocolor" data-separator="|" data-rotate="fadeInRight" data-speed="800">
                                        <span class="t-rotate t700 font-body opm-medium-word">IFE|Model|United|Nations|2018.</span>
                                    </span>
                                </h1>
                            </div>

                            <a href="{% url 'conference:registration' %}" class="button button-border button-light button-circle t400">Register</a>

                        </div>
                    </div>

            </div>
            <!-- </div> -->

            </div>

    </section>
    <!-- #slider end -->


    <!-- Content
    ============================================= -->
    <section id="content">

            <div class="content-wrap nopadding">

                <div id="section-about" class="page-section">

                    <div class="container clearfix">

                        <h2 class="divcenter center bottommargin font-body" style="max-width: 700px; font-size: 30px;">Welcome Address</h2>

                        <div class="col">
                            <div class="pull-left">
                                <img src="{% static 'images/people/sec-gen.jpg' %}" alt="Secretary General" width="400px" class="pix"/>
                            </div>
                            <div class="pull-left">
                                    <p>
                                        Dear delegates, Advisors, and global citizens,
                                    </p>
                                    <p style="text-align: justify;">
                                        It is my pleasure to heartily welcome you to the official website of the first IFE Model United Nations 2018 and invite you to apply to be part of this year’s convening of IFE Model UN, which is to be held from June 20 – 23, 2018. This conference offers a truly unique experience for participants with passion for international affairs, international law, lobbying and in general, global problem solving at which young individuals role-play delegates to some of the most important multilateral organisations.
                                    </p>
                                    <p style="text-align: justify;">
                                        Following months of preparation and planning, the Secretariat and volunteers of IFEMUN  are excited to host you to a delightful atmosphere of substantive excellence, real-time diplomacy, multilateralism and social experience at Obafemi Awolowo University, Ile Ife built at the heart of the ancient city of civilization. Over the course of three days, delegates are presented the opportunity to interact with roughly 700 delegates from all over the world, to learn with our staff and engage with all that our beautiful and inspiring university campus has to offer.
                                    </p>
                                    <p style="text-align: justify;">
                                        We are looking to help our participants channel their passion and further their understanding to not only of multilateral organisations, diplomacy and formal debate at UN but also by hosting a series of academic lectures with experts and decision makers.  It is our pride to see that every delegates in IFEMUN leaves the conference more prepared and inspired to be future global leaders and change agents. 
                                    </p>
                                    <p style="text-align: justify;">
                                        The themes of this year’s conference is “achieving human development: striving for peace and decent live in a sustainable world”.  This theme fully wraps together, issues central to global peace and development pronounced in peace, improved standard of living and sustainable communities. For our maiden edition, you will be able to apply into any of the following committees:
                                    </p>
                                        <ul>
                                            <li>
                                                UN Security Council
                                            </li>
                                            <li>
                                                UN General Assembly First Committee, DISEC 
                                            </li>
                                            <li>
                                                International Olympic Committee
                                            </li>
                                            <li>
                                                UNESCO
                                            </li>
                                            <li>
                                                UNCHR
                                            </li>
                                            <li>
                                                UN General Assembly Third Committee, ECOFIN
                                            </li>
                                            <li>
                                                UNICEF [Secondary School Category]  
                                            </li>
                                        </ul>
                                <p style="text-align: justify;">
                                        Also, delegates shall be opened to apply as NGOs observing in assigned committees, they include, Right to Play, Amnesty International, Doctors Without Borders and Reporters without Borders.
                                        We are therefore looking for individuals to attend the conference organized in partnership and  support of the United Nations Information Centre in Nigeria, All Nigeria United Nations Student and Youth Association and International Relations Student Association at the host university. 
                                </p>
                                <p style="text-align: justify;">
                                        Our delegates will debate and reflect on two topics per committee and the topics will represent a broad range of academic discipline: from international relations to international finance, sport and law. As an educational conference, we put skills and academic development at the forefront, where merits and hardwork will be duly rewarded. 
                                </p>
                                <p style="text-align: justify;">
                                        It is my sincere hope that delegates will walk away from IFEMUN with improved model UN skills, new connections, international relations knowledge and the desire to make a difference as future leaders. I am looking forward to seeing what delegates will achieve at this year’s conference! Thank you very much.
                                </p>
        
                        </div>

                        

                        </div>

                        <div class="divcenter center">
                            <p class="bottommargin" style="font-size: 16px;"><a href="{% url 'about' %}" data-scrollto="#section-services" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="more-link center">Learn more <i class="icon-angle-right"></i></a></p>

                        </div>
                       
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <!-- <div id="section-blog" class="page-section">

					<h2 class="center uppercase t300 ls3 font-body">Recently From the Blog</h2>

					<div class="section nobottommargin">
						<div class="container clearfix">

							<div class="row topmargin clearfix">
                                    {% for post in posts %}
                                    <div>
                                        <h1><a href="{% url 'blog:post_detail' pk=post.pk %}"> {{ post.title }} </a></h1>
                                        <p>published: {{ post.published_date|linebreaksbr}}</p>
                                    </div>
                                
                                    {% endfor %}
							</div>

						</div>
					</div>

				</div> -->

    </section>


{% endblock %}