{% extends "new_base.html" %}

{% block content %}

<!-- Slider
    ============================================= -->
    <section id="slider" class=="slider-element">

            <div class="section dark nomargin noborder ohidden" style="padding: 120px 0;">

                <div class="container clearfix">

                    <div class="emphasis-title">
                        <span class="before-heading opm-medium t300 uppercase font-primary">We are</span>
                        <h1>
                            <span class="text-rotater nocolor" data-separator="|" data-rotate="fadeInRight" data-speed="1000">
                                <span class="t-rotate t700 font-body opm-medium-word">ife|model|united|nations.</span>
                            </span>
                        </h1>
                    </div>

                    <a href="{% url 'conference:registration' %}" class="button button-border button-light button-circle t400">Register</a>

                </div>

            </div>

    </section>
    <!-- #slider end -->

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


{% endblock %}