{% extends "new_base.html" %}

{% load static %}

{% load instagram_client %}

{% block content %}

<section id="slider" class=="slider-element slider-parallax full-screen force-full-screen" >

        <!-- <div class="section dark nomargin noborder ohidden" style="padding: 120px 0;"> -->
        
        <div class="slider-parallax-inner">
        
            <div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden" style="background-image: url('{% static "images/bg4.jpg" %}'); background-size: cover; background-position: center center;">

                <div class="container center">
                    <div class="vertical-middle">

                        <div class="emphasis-title transbox">
                            <h2>
                                    <p>IFEMUN 2018</p>
                            </h2>
                            <h3>
                                    <p>
                                        Theme: Achieving Human Development: Striving for Peace and Decent Life in a Sustainable World
                                    </p>
                            </h3>

                            <h3>
                                <p><i>June 20th - 23rd, 2018</i></p>
                            </h3>

                        </div>

                        <a href="{% url 'registration:reg-form' %}" class="button button-border button-light button-circle t400" >Register</a>

                        
                    </div>
                </div>

        </div>
        </div>

        </div>

</section>



    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap nopadding">

            <div id="section-about" class="page-section" style="padding-bottom: 0px;">

                <div class="container">

                    <h2 class="divcenter center bottommargin font-body" style="max-width: 700px; font-size: 30px;">Welcome Address</h2>

                    <div class="col">
                        <div class="pull-left">
                            <img src="{% static 'images/people/sec-gen.jpg' %}" alt="Secretary General" width="400px" class="pix"/>
                        </div>
                        <div class="pull-left">
                                <p>
                                    Dear delegates, Advisors, and global citizens,
                                </p>
                                <p style="text-align: justify;">
                                    It is my pleasure to heartily welcome you to the official website of the first IFE Model United Nations 2018 and invite you to apply to be part of this year’s convening of IFE Model UN, which is to be held from June 20 – 23, 2018. This conference offers a truly unique experience for participants with passion for international affairs, international law, lobbying and in general, global problem solving at which young individuals role-play delegates to some of the most important multilateral organisations.
                                </p>
                                <p style="text-align: justify;">
                                    Following months of preparation and planning, the Secretariat and volunteers of IFEMUN  are excited to host you to a delightful atmosphere of substantive excellence, real-time diplomacy, multilateralism and social experience at Obafemi Awolowo University, Ile Ife built at the heart of the ancient city of civilization. Over the course of three days, delegates are presented the opportunity to interact with roughly 700 delegates from all over the world, to learn with our staff and engage with all that our beautiful and inspiring university campus has to offer.
                                </p>
                                <p style="text-align: justify;">
                                    We are looking to help our participants channel their passion and further their understanding to not only of multilateral organisations, diplomacy and formal debate at UN but also by hosting a series of academic lectures with experts and decision makers.  It is our pride to see that every delegates in IFEMUN leaves the conference more prepared and inspired to be future global leaders and change agents. 
                                </p>
                                <p style="text-align: justify;">
                                    The themes of this year’s conference is  <em><u><q>Achieving Human Development: Striving for Peace and Decent Life in a Sustainable World</q></u></em>.  This theme fully wraps together, issues central to global peace and development pronounced in peace, improved standard of living and sustainable communities. For our maiden edition, you will be able to apply into any of the following committees:
                                </p>
                                    <ul>
                                        <li>
                                            UN Security Council
                                        </li>
                                        <li>
                                            UN General Assembly First Committee, DISEC 
                                        </li>
                                        <li>
                                            International Olympic Committee
                                        </li>
                                        <li>
                                            UNESCO
                                        </li>
                                        <li>
                                            UNCHR
                                        </li>
                                        <li>
                                            UN General Assembly Third Committee, ECOFIN
                                        </li>

                                    </ul>
                            <p style="text-align: justify;">
                                    Also, delegates shall be opened to apply as NGOs observing in assigned committees, they include, Right to Play, Amnesty International, Doctors Without Borders and Reporters without Borders.
                                    We are therefore looking for individuals to attend the conference organized in partnership and  support of the United Nations Information Centre in Nigeria, All Nigeria United Nations Student and Youth Association and International Relations Student Association at the host university. 
                            </p>
                            <p style="text-align: justify;">
                                    Our delegates will debate and reflect on two topics per committee and the topics will represent a broad range of academic discipline: from international relations to international finance, sport and law. As an educational conference, we put skills and academic development at the forefront, where merits and hardwork will be duly rewarded. 
                            </p>
                            <p style="text-align: justify;">
                                    It is my sincere hope that delegates will walk away from IFEMUN with improved model UN skills, new connections, international relations knowledge and the desire to make a difference as future leaders. I am looking forward to seeing what delegates will achieve at this year’s conference! Thank you very much.
                            </p>

                            <p>Cordially, <br/>
                            <em>Ojunde Patrick Opeyemi</em><br/>
                            <strong>Secretary General, IFEMUN 2018</strong>
                            </p>

    
                        </div>

                    </div>

                    <div class="divcenter center">
                        <p class="bottommargin" style="font-size: 16px;"><a href="{% url 'about' %}" data-scrollto="#section-services" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="more-link center">Learn more <i class="icon-angle-right"></i></a></p>

                    </div>
                    
                </div>
            </div>
        </div>


            <div class="">
                    <div class="container clearfix">
                            <div class="heading-block center nobottomborder">
                                    <h2>Our Values</h2>
                            </div>
                
                            <div class="col_one_fourth">
                
                                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                                    <h4>Inno<span>vation</span>.</h4>
                                </div>
                
                                <p>The 21st century is, no doubts, filled with innovation. As such, policies and strategies of states must be aligned with this trend</p>
                                <p>IFEMUN seeks to ensure that highly innovative resolutions are arrived at in contribution to achieving human development.</p>
                
                            </div>
                
                            <div class="col_one_fourth">
                
                                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                                    <h4>Diver<span>sity</span>.</h4>
                                </div>
                
                                <p>We seek to bring humans of diverse cultures, traditions and beliefs together with the primary aim of achieving human development because though ... </p>
                                <p> “ We may all have different religion, different language, different coloured skin, but we all belong to one human race ”  -  Kofi Annan.</p>
                            
                            </div>
                
                            <div class="col_one_fourth">
                
                                    <div class="heading-block fancy-title nobottomborder title-bottom-border">
                                        <h4>Real<span>ism</span>.</h4>
                                    </div>
                        
                                    <p>As Ife Model United Nations, we want to ensure we provide a very realistic conference that will serve as a perfect epitome, if not the best, for an MUN conference. </p>
                                    <p>Hence, be ready to move beyond the abstract or mere theory of diplomacy to a very real diplomacy in practice.</p>
                        
                            </div>
                
                            <div class="col_one_fourth col_last">
                
                                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                                    <h4>Excel<span>lence</span>.</h4>
                                </div>
                
                                <p>Our venue, Obafemi Awolowo University is known for high level of excellence incomparable with any of its peer in Africa</p>
                                <p> This is more than a leverage IFEMUN will taking up as an advantage to give conference filled with excellence in all ramifications.</p>
                    
                            </div>
                
                    </div>
                </div>

    </section>

    <div class="container clearfix">
            <div class="col_three_fourth">
            <div class="fancy-title title-border">
            <h4>Recent Posts</h4>
            </div>
            {% for post in posts %}
                {% if not forloop.last%}
                    <div class="col_half nobottommargin">
                {% else %}
                    <div class="col_half col_last">
                {% endif %}
            <div class="ipost clearfix">
            <div class="entry-image" style="padding: 10%; padding-bottom: 0%; padding-left: 0px;">
                <img alt="100%x180" src="http://127.0.0.1:8000{{ post.picture }}" class="img-thumbnail">
            </div>
            <div class="entry-title">
            <h3><a href="{% url 'blog:post_detail' pk=post.id %}">{{ post.title }}</a></h3>
            </div>
            <ul class="entry-meta clearfix">
            <li><i class="icon-calendar3"></i>{{ post.published_date }}</li>
            <li><a href="#"><i class="icon-comments"></i> 13</a></li>
            </ul>
            <div class="entry-content">
            <p>{{ post.short_summary }}<a href="{% url 'blog:post_detail' pk=post.id %}" style="color: #1ABC9C" > ... continue reading</a></p> 
            </div>
            </div>
            </div>
            {% endfor %}
 
            <div class="center clearfix" >
                    <a href="{% url 'blog:post_list' %}" class="btn btn-outline-secondary float-left">Load More &rarr; </a>
            </div>
            </div>
            <div class="col_one_fourth col_last">
                    <div class="fslider testimonial nopadding noborder noshadow" data-animation="slide" data-arrows="false">
                    <div class="flexslider">
                    <div class="slider-wrap">
                            <a class="twitter-timeline"
                                href="https://twitter.com/ifemodelun"
                                data-height="300">
                                Tweets by @IFEMODELUN
                            </a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    </div>
                    <div class="center">
                        <a href="#" class="btn btn-secondary btn-sm">Follow Us on Twitter</a>
                    </div>
                    </div>
            <div class="well ohidden topmargin">
                    <div class="fancy-title title-border">
                            <h4>Instagram Feed</h4>
                    </div>
                    <div class="row no-gutters">
                            {% instagram_user_recent_media ifemodelun %}
                            {% if recent_media|length > 9 %}
                                {% for media in recent_media|slice:"0:9" %}
                                    <div class="col-4" style="padding: 0.5px;">
                                            <a href="//instagram.com/p/{{ media.shortcode }}" target="_blank"><img src="{{ media.thumbnail_src|thumbnail }}" alt="IG Feed"/></a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% for media in recent_media|slice:"0:9" %}
                                    <div class="col-4" style="padding: 0.5px;">
                                            <a href="//instagram.com/p/{{ media.shortcode }}" target="_blank"><img src="{{ media.thumbnail_src|thumbnail }}" alt="IG Feed"/></a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                    </div>
            </div>
            </div>
            <div class="clear"></div>
            </div>


    <style>            
            div.transbox {
                margin: 30px;
                background-color: #ffffff;
                border: 1px solid black;
                opacity: 0.5;
                filter: alpha(opacity=60); /* For IE8 and earlier */
            }
            
            div.transbox p {
                margin: 3%;
                font-weight: bold;
                color: #000000;
            }
    </style>
{% endblock %}


<!-- emphasis-title -->