{% extends "new_base.html" %}

{% load static %}

{% block title %}Ifemun | Committees{% endblock %}

{% block content %}

<section id="slider" class=="slider-element slider-parallax full-screen force-full-screen" >

        <!-- <div class="section dark nomargin noborder ohidden" style="padding: 120px 0;"> -->
        
        <div class="slider-parallax-inner">
        
            <div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden" style="background-image: url('{% static "images/oau3.jpg" %}'); background-size: cover; background-position: center center;">

                <div class="container center">
                    <div class="vertical-middle">
                        
                    </div>
                </div>

        </div>
        </div>

        </div>

</section>

<section id="page-title" class="page-title-mini">

    <div class="container clearfix">
        <h1>Committees</h1>
    </div>

</section>

<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">
    
            <div class="col nobottommargin">
                <div> 
                    <img src="{% static 'images/committees/un.png' %}" alt="unsc Logo" height="80px"/>
                </div>

                <h4>United Nations Security Council (UNSC)</h4>

                <div class="accordion accordion-border clearfix" data-state="closed">

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Topic A</div>
                    <div class="acc_content clearfix">Safeguarding humanitarian programmes during sanctions regime</div>

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Topic B</div>
                    <div class="acc_content clearfix">The situation in Syria</div>

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Online Resources</div>
                    <div class="acc_content clearfix">
                        <a href="http://www.un.org/en/sc/members/">Visit Website</a>
                    </div>
                </div>

                <div class="divider"><i class="icon-circle"></i></div>
                <div> 
                    <img src="{% static 'images/committees/disec.png' %}" alt="Disec Logo" height="110px"/>
                </div>
                <div>
                    <h4>General Assembly First Committee, Disarmament and International Security Committee (GA1  DISEC)</h4>
                </div>
                <div class="accordion accordion-border clearfix" data-state="closed">

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Topic A</div>
                    <div class="acc_content clearfix">Reduction of military budgets</div>

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Topic B</div>
                    <div class="acc_content clearfix">Addressing the atrocities committed  by the Myanmar Soldiers.</div>

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Online Resources</div>
                    <div class="acc_content clearfix"><a href="http://www.un.org/en/ga/first">Visit Website</a></div>

                </div>

            </div>

            <div class="col nobottommargin col_last">
                <div class="divider"><i class="icon-circle"></i></div>

                <div class="">
                        <img src="{% static 'images/committees/unhrc.png' %}" alt="UNHCR Logo" height="90px"/>
                </div>
                <div class="">
                        <h4>United Nations Commission for Human Right (UNCHR)</h4>
                </div>
                

                <div class="accordion accordion-border clearfix" data-state="closed">

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Topic A</div>
                    <div class="acc_content clearfix">Protecting the socio-economic rights of physically challenged individuals</div>

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Topic B</div>
                    <div class="acc_content clearfix">Protecting the rights of LGBT community in Africa.</div>

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Online Resources</div>
                    <div class="acc_content clearfix"><a href="http://www.ohchr.org/EN/HRBodies/CHR/Pages/commissionOnHumanRights.aspx">Visit Website</a></div>

                </div>

                <div class="divider"><i class="icon-circle"></i></div>
                <div>
                    <img src="{% static 'images/committees/un.png' %}" alt="Ecofin Logo" height="90px"/>
                </div>
                <div>
                    <h4>General Assembly Third Committee, Economic and Financial Council (GA 3 ECOFIN) </h4>
                </div>
                <div class="accordion accordion-border clearfix" data-state="closed">

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Topic A</div>
                    <div class="acc_content clearfix">Regulating the use of crypto currency against illicit financial activities</div>

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Topic B</div>
                    <div class="acc_content clearfix">The reconstruction and rehabilitation of a post ISIS iraq</div>

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Online Resources</div>
                    <div class="acc_content clearfix"><a href="http://www.en.unesco.org">Visit Website</a></div>

                </div>

            </div>

            <div class="col nobottommargin">

                <div class="divider"><i class="icon-circle"></i></div>

                <div>

                    <img src="{% static 'images/committees/ioc.png' %}" alt="IOC Logo" height="90px"/>
                </div>

                <div>

                    <h4>International Olympic Committee (IOC) </h4>
                </div>

                <div class="accordion accordion-border clearfix" data-state="closed">

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Topic A</div>
                    <div class="acc_content clearfix">Using sport to pursuing peaceful settlement and de-escalation of conflict in the Korean peninsula</div>

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Topic B</div>
                    <div class="acc_content clearfix">Improving access to quality physical education and sport in developing world.</div>

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Online Resources</div>
                    <div class="acc_content clearfix"><a href="http://www.olympic.org/the-ioc/">Visit Website</a></div>
                </div>


                <div class="divider"><i class="icon-circle"></i></div>

                <div>

                    <img src="{% static 'images/committees/who4.png' %}" alt="WHO Logo" height="90px"/>
                </div>
                
                <div>
                    <h4>World Health Organization (WHO) </h4>
                </div>

                <div class="accordion accordion-border clearfix" data-state="closed">

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Topic A</div>
                    <div class="acc_content clearfix">Improving access to addiction treatment resources in Less Developed Countries (LDCs)</div>

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Topic B</div>
                    <div class="acc_content clearfix">Improving preparation and response to global epidemic</div>

                    <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Online Resources</div>
                    <div class="acc_content clearfix"><a href="http://www.who.int./en/">Visit Website</a></div>

                </div>


            </div>

            <div class="col nobottommargin col_last">

                    <div class="divider"><i class="icon-circle"></i></div>

                    <div>
                        <img src="{% static 'images/committees/unesco2.jpg' %}" alt="WHO Logo" height="90px"/>
                    </div>
                        
                    <div>
                        <h4>United Nations Educational, Scientific and Cultural Organization (UNESCO) </h4>
                    </div>
                    <div class="accordion accordion-border clearfix" data-state="closed">
    
                        <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Topic A</div>
                        <div class="acc_content clearfix">Advancing the recoginition of Africa's cultural heritage listing under UNESCO.</div>
    
                        <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Topic B</div>
                        <div class="acc_content clearfix">Promoting global citizenship through linguistic diversity and multilingualism.</div>
    
                        <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Online Resources</div>
                        <div class="acc_content clearfix"><a href="http://www.en.unesco.org/">Visit Website</a></div>
    
                    </div>
    
                </div>

        </div>
    </div>
</section>


<section id="content">
        <div class=" notopmmargin">
    
            <div class="container clearfix">
                <div class="fancy-title title-bottom-border">
                    <h3>NGOS</h3>
                </div>
                <p>Non-governmental organizations have been active in the United Nations since it foundation. They interact with the UN Secretariat, programmes, funds and agencies, and they consult with the member states. NGO works related to the UN comprises a number of activities including information dissemination, awareness raising, development education, policy advocacy, joint operational projects, and providing technical expertise and collaborating with UN agencies, programmes and funds. This work is undertaken in formal and informal ways at the national level and at the UN.</p>

                <div class="fancy-title title-bottom-border">
                    <h3>Reporters Without Borders</h3>
                </div>
                <p>Reporters without Borders defends journalist and media assistants imprisoned or persecuted for doing their job and exposes their mistreatment in many countries. The organization also fights against censorship and laws that undermine press freedom and tries to improve the safety of journalists, especially those reporting in war zones.</p>
                
                <div class="fancy-title title-bottom-border">
                    <h3>Medicin Sans Frontiere</h3>
                </div>
                <p>Medicine sans frontier also known as Doctors without borders is an international humanitarian non-governmental organization best known for its projects in war-torn regions and developing countries affected by endemic diseases. They deliver emergency aid to people affected by armed conflicts, epidemics, natural disasters and exclusion from healthcare.</p>
                
                <div class="fancy-title title-bottom-border">
                    <h3>Amnesty International</h3>
                </div>
                <p>Through research and campaigning, Amnesty International helps to fight abuses of human rights worldwide. Mainly they try to bring human rights violation to justice, change oppressive laws and free people who used their right to voice their opinion.</p>

                <div class="fancy-title title-bottom-border">
                    <h3>Right to Play</h3>
                </div>
                <p>Right to Play is a global organization that attempts to teach children in need with educational games. The organization works in both humanitarian and developmental context, builds local capacity by training community leaders as coaches to deliver its programs across the world, currently operate in 18 countries affected by war, poverty and diseases in Africa, Asia, the Middle East and North America.</p>

            </div>
    </div>
</section>

<section id="page-title" class="page-title-mini">

        <div class="container clearfix">
                <h3>Roles of observers during committee session</h3>
                <p>At IFEMUN, you will be able to participate in every committee with the possibility to observe, interact with delegates in committee and cooperate with the press. The task as a delegate representing an NGO is to influence the debate about topics related to your ngo and try to get your positions covered in the resolutions.</p>
        </div>
    
</section>


{% endblock %}