{% extends "new_base.html" %}

{% load static %}

{% block content %}

<section id="page-title" class="page-title-mini">

    <div class="container clearfix">
        <h1>Registration successful</h1>
    </div>

</section>


<div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>   
        Thank you for registering! Please check your mail for further instructions.     
</div>  

<section id="slider" class=="slider-element slider-parallax full-screen force-full-screen" >
        
        <div class="slider-parallax-inner">
        
            <div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden" style="background-image: url('{% static "images/conference.jpg" %}'); background-size: cover; background-position: center center;">

                <div class="container center">
                    <div class="vertical-middle">


                        <div class="emphasis-title">
                                    <div class="">
                                        <h2>
                                            <p>Ife Model United Nations, 2018</p>
                                        </h2>
                                        <h3>
                                            <p>June 20th - 23rd, 2018</p>
                                        </h3>

                                    </div>

                        </div>

                                            </div>
                </div>

        </div>
        </div>

        </div>

</section>

{% endblock %}